@import './fonts.css';
@import 'tailwindcss';

@theme {
  --font-franklin: nyt-franklin, Arial;
  --font-karnak-condensed: nyt-karnakcondensed;

  --color-cool-grey: #f8f8f8;
  --color-lightest-beige: #ececdb;
  --color-light-beige: #cfcfbf;
  --color-beige: #a39f95;
  --color-dark-beige: #5a594ebf;
  --color-darker-beige: #787668;
  --color-extra-dark-beige: #656458;
  --color-darkest-beige: #5a594e;
  --color-yellow: #f9df6d;
  --color-maroon: #ba81c5;
  --color-blue: #b0c4ef;
  --color-green: #a0c35a;

  --animate-shake-error: shake-error 1.5s ease-in-out;
  @keyframes shake-error {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-4px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(4px);
    }
  }
}

@layer base {
  body {
    @apply font-franklin font-medium;
  }
}
